<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>875092430556-mjtbch8jr8tfro69ng6s1prmekbc6h3n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.875092430556-mjtbch8jr8tfro69ng6s1prmekbc6h3n</string>
	<key>API_KEY</key>
	<string>AIzaSyCH2HS_1mbiB0MoxwAUA366qmxgenzaV-A</string>
	<key>GCM_SENDER_ID</key>
	<string>875092430556</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gsi.kw</string>
	<key>PROJECT_ID</key>
	<string>notification-83f91</string>
	<key>STORAGE_BUCKET</key>
	<string>notification-83f91.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:875092430556:ios:26bd90866a27f527</string>
	<key>DATABASE_URL</key>
	<string>https://notification-83f91.firebaseio.com</string>
</dict>
</plist>